body {
	background-color: black;
}
.navbar {
	margin-bottom: 0;
	background-color: black;
	color: white;
	border-color: black;
	width: 100%;
	.social {
		float:right;

		a {
			display:inline-block;
			padding: 15px 7px;
		}
	}
}
.header {
	min-height: 200px;
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-position: 50% 0%;
	text-align: center;
	h1, h2 {
		color: white;
		display: inline;
	}
	h1 {
		font-size: 80px;
		margin-bottom: 0px;
		margin-top: 40px;
	}
	h2 {
		font-size: 20px;
		letter-spacing: 3px;
		margin: 0px;
	}
	div {
		margin-top: 39px;
		border: 1px solid white;
		display:inline-block;
		padding: 5px;
	}
}
.content {
	background-color: white;
	
	border: 3px solid #E26A6A; 
	position:relative;
}
.headName {
		background-color: #E26A6A;
		color:white;
		display: inline-block;
		padding:10px 50px;
		text-transform:uppercase;
		font-weight:bold;
		margin:0;
		position:absolute;
		top:-20px;
		left:-20px;
	}
.verticalLine {
	min-height: 1300px;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
.main {
	position: relative;
	border-right:1px solid white;
}
.content {
	position:absolute;
	top:150px;
	text-align: center;
	padding:60px 20px;
	img {
		width:100%;
		padding: 10px;
	}
}
.footer {
  
  padding: 20px 0;
  background-color: #3A3335;
  color:black;
  h4 {
  	text-transform: uppercase;
  }
  p {
  	margin: 0;
  }
}